<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <link href="static/css/BaybayinDoctrinaClear.ttf" rel="stylesheet">
        <link href="static/css/BaybayinDoctrinaClear.otf" rel="stylesheet">
        <link href="static/css/BaybayinDoctrinaKudlit.otf" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Isulat mo, Ibaybay ko</title>
        <style>
            @font-face {
                font-family: 'BaybayinDoctrinaClear';
                src: url('static/css/BaybayinDoctrinaClear.ttf') format('truetype'),
                    url('static/css/BaybayinDoctrinaClear.otf') format('opentype');
            }
            @font-face {
                font-family: 'BaybayinDoctrinaKudlit';
                src: url('static/css/BaybayinDoctrinaKudlit.ttf') format('truetype');
            }
        </style>
    </head>

<body>

  <!-- Same navbar code as index.html -->

  <nav class="navbar">
    <!-- Logo -->
    
    <div class="navbar-logo">
        <a href="{{ url_for('index') }}">
            <p class="baybayin-char-logo">A</p>
        </a>
        <a href="{{ url_for('index') }}">
            <div class="logo">
                <img src="{{ url_for('static', filename='css/images/logo3.png') }}" alt="Logo">
            </div>
        </a>
    </div>


    <!-- Navigation Links -->
    <ul class="nav-links">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('practice') }}">Let's Practice!</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</nav>

  <div class="about-container">

    <div class="imik-container">
      <h2>About IMIK</h2>
      <p>
        Ibaybay mo, Isasalin ko, is a web application that allows transliteration between Latin script and Baybayin, 
        an ancient Philippine script.  
      </p>
    </div>
    
    <div class="mission-container">
      <h2 class="about-mission">Our Mission</h2>
      <p>
        Our goal with this project is to develop a web application <br>
        that transliterates between Latin script and Baybayin script. We want <br>
        to apply concepts from automata theory that we learned in class, specifically <br>
        finite state automata. We hope to increase appreciation and understanding <br>
        of the ancient Baybayin script by making it accessible for people to<br>
        read and write this script from our past.
      </p>
    </div>
    
    <div class="our-team">
      <h2>Our Team</h2>
      <p>
        We are computer science students at the Polytechnic University of the Philippines <br>
        taking the Automata and Language Theory course. Our team members are:
      </p>
      <p><br>John Mark Peroche</p>
      <p>John Patrick Lagatuz</p>
      <p>Kurt Denver Torreda</p>
      <p>Nichole Alpapara</p>
    </div>
    

    <!-- Other about page content -->

  </div>

</body>

</html>
