<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <link href="static/css/BaybayinDoctrinaClear.ttf" rel="stylesheet">
        <link href="static/css/BaybayinDoctrinaClear.otf" rel="stylesheet">
        <link href="static/css/BaybayinDoctrinaKudlit.otf" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Isulat mo, Ibaybay ko</title>
        <style>
            @font-face {
                font-family: 'BaybayinDoctrinaClear';
                src: url('static/css/BaybayinDoctrinaClear.ttf') format('truetype'),
                     url('static/css/BaybayinDoctrinaClear.otf') format('opentype');
            }
            @font-face {
                font-family: 'BaybayinDoctrinaKudlit';
                src: url('static/css/BaybayinDoctrinaKudlit.ttf') format('truetype');
            }
        </style>
    </head>
    <body>

        <nav class="navbar">
            <!-- Logo -->
            
            <div class="navbar-logo">
                <a href="{{ url_for('index') }}">
                    <p class="baybayin-char-logo">A</p>
                </a>
                <a href="{{ url_for('index') }}">
                    <div class="logo">
                        <img src="{{ url_for('static', filename='css/images/logo3.png') }}" alt="Logo">
                    </div>
                </a>
            </div>
        

            <!-- Navigation Links -->
            <ul class="nav-links">
                <li class="rules-menu">
                    <a href="javascript:void(0)">Rules</a>
                    <!-- Pop-down div for the rules -->
                    <div class="rules-content">
                        <h4>Latin to Baybayin Rules:</h4>
                        <ul>
                            <li>Each symbol represents one syllable.</li>
                            <li>Syllable-final consonants are omitted.</li>
                            <li>Sequential consonants, except for NG, are not allowed.</li>
                            <li>NG functions as a single character, forming a digraph.</li>
                            <li>Standalone consonants are not permitted.</li>
                        </ul>
                        <h4><br>Baybayin to Latin Rules:</h4>
                        <ul>
                            <li>Only consonant-vowel syllables are written.</li>
                            <li>Kudlit modifies E, I, O, U sounds in syllables.</li>
                            <li>Kudlit is exclusive to syllables, not vowels or itself.</li>
                            <li>Independent vowels are used in consonant-less syllables.</li>
                            <li>Two lines (||) denote sentence separation.</li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('practice') }}">Let's Practice!</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                
            </ul>
        </nav>
        <!-- for the container of the 3 divs --> 
        <div class="container">
            <!-- create a card for the FROM-->
            <!-- input text-->
            <div class="card input-wrapper">
                <!-- from container, e.g. from: latin script-->
                <div class="from">
                    <span class="heading" style="font-size: 15px;">FROM :</span>
                    <!-- dropdown -->
                    <div class="dropdown-container" id="input-script">
                        <div class="dropdown-toggle">
                            <ion-icon name="book-outline"></ion-icon>
                            <span class="selected-script" data-value="auto">Choose a Script</span>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                        <ul class="dropdown-menu">
                            <li class="option active" data-value="lat">Latin Script</li>
                            <li class="option" data-value="byn">Baybayin Script</li>
                        </ul>
                    </div>
                    </div>
                    <!-- txt area of the FROM-->
                    <div class="text-area">
                        <textarea id="input-text"  placeholder="Enter Latin Script text here..."></textarea>
                        <div class="chars">
                            <span id="input-chars">0</span> / 5000
                        </div>
                    </div>
                <div class="card-bottom">
                    <p>OR</p>
                    <label for="upload-photo">
                        <span id="upload-title">Choose a File</span>
                        <ion-icon name="image-outline"></ion-icon>
                        <input type="image" id="upload-photo" hidden />
                    </label>
                </div>
            </div>

            <!-- Swap button-->
            <div class="center">
                <div class="swap-position">
                    <ion-icon name="swap-horizontal-outline"></ion-icon>
                </div>
            </div>

            <!-- create a card for the TO-->
            <!-- output text-->
            <div class="card output-wrapper">
                <!-- from container, e.g. from: latin script-->
                <div class="to">
                    <span class="heading" style="font-size: 15px;">TO :</span>
                    <!-- dropdown -->
                    <div class="dropdown-container" id="output-script">
                        <div class="dropdown-toggle">
                            <ion-icon name="book-outline"></ion-icon>
                            <span class="selected-script" data-value="auto">Choose a Script</span>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                        <ul class="dropdown-menu">
                            <li class="option active" data-value="lat" >Latin Script</li>
                            <li class="option" data-value="byn" >Baybayin Script</li>
                        </ul>
                    </div>
                    </div>
                    <!-- txt area of the TO-->
                    <div class="text-area">
                        <textarea id="output-text"  placeholder="The Baybayin equivalence is..." readonly></textarea>
                </div>
                <div class="card-bottom">
                    <p>AND</p>
                    <button id="copy-to-clipboard" onclick="copyToClipboard()">
                        <span>Copy to clipboard</span>
                    </button>
                </div>
            </div>
            <!-- virtual keyboard -->
        </div>
        <div id="keyboard-container">
            <div class="same-line-button">
                <button class="toggle-keyboard-button" id="keyboard-display">Display Keyboard</button>
                <button class="toggle-keyboard-button" id="transliterate-button">Trasliterate</button>
            </div>
            <div>
                <div class="card-baybayin-keyboard">
                    <!-- div for the "virtual keyboard p"-->
                    <div class="row">
                        <p>Virtual Baybayin Keyboard</p>
                    </div>
                    <!-- for the vowels, and kudlits-->
                    <div class="row">
                        <button class="btn">
                            <span class="baybayin-kudlit">e</span>
                            <span class="latin-script">e</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-kudlit">i</span>
                            <span class="latin-script">i</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-kudlit">o</span>
                            <span class="latin-script">o</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-kudlit">u</span>
                            <span class="latin-script">u</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">A</span>
                            <span class="latin-script">A</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">E</span>
                            <span class="latin-script">E</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">I</span>
                            <span class="latin-script">I</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">O</span>
                            <span class="latin-script">O</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">U</span>
                            <span class="latin-script">U</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">BA</span>
                            <span class="latin-script">BA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">CA</span>
                            <span class="latin-script">CA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">DA</span>
                            <span class="latin-script">DA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">FA</span>
                            <span class="latin-script">FA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">GA</span>
                            <span class="latin-script">GA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">HA</span>
                            <span class="latin-script">HA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">JA</span>
                            <span class="latin-script">JA</span>
                        </button>
                        <button class="delete">
                            <ion-icon name="backspace-outline"></ion-icon>
                            <span class="latin-script">DEL</span>
                        </button>
                    </div>

                    <!-- for the consonants with vowels pt2-->
                    <div class="row">
                        <button class="btn">
                            <span class="baybayin-char">KA</span>
                            <span class="latin-script">KA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">LA</span>
                            <span class="latin-script">LA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">MA</span>
                            <span class="latin-script">MA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">NA</span>
                            <span class="latin-script">NA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">NGA</span>
                            <span class="latin-script">NGA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">PA</span>
                            <span class="latin-script">PA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">QA</span>
                            <span class="latin-script">QA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">RA</span>
                            <span class="latin-script">RA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">SA</span>
                            <span class="latin-script">SA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">TA</span>
                            <span class="latin-script">TA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">VA</span>
                            <span class="latin-script">VA</span>
                        </button>
                    </div>
                    <!-- for the consonants with vowels pt4-->
                    <div class="row">
                        <button class="btn">
                            <span class="baybayin-char">WA</span>
                            <span class="latin-script">WA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">XA</span>
                            <span class="latin-script">XA</span>
                        </button>
                        <button class="space">
                            <span>||</span>
                            <span class="latin-script">SPACE</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">YA</span>
                            <span class="latin-script">YA</span>
                        </button>
                        <button class="btn">
                            <span class="baybayin-char">ZA</span>
                            <span class="latin-script">ZA</span>
                        </button>
                    </div>
                </div>
            </div>
        <div>
        <script src="{{ url_for('static', filename='script/languages.js') }}"></script>
        <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    </body>
</html>